@import "tailwindcss";

#burbuja {
  @apply absolute bg-blue-500 rounded-full opacity-50;
  width: 75px;
  height: 75px;
  animation: float 6s ease-in-out infinite;

  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 50;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(20, 77, 33, 0.295);
  border-radius: 50%;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}